body {
  font: 20px arial;
}
.dataLine {
  stroke: #4f1b26;
  stroke-width: 5px;
  fill: none;
}

path {
  fill: none;
}

.chartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

text {
  font-size: large;
}

.overlay {
  fill: none;
  pointer-events: all;
}
